html { 
    background: url(assets/cooltree-20percent.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    background-color: transparent;
  }

 /* NAV BAR */

  .navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: black;
}


/* FOOTER */

footer{
    height: 120px;
    display: flex;
    width: 100%;
  }
  .foot-icons{ /* div */
    height: 100%;
    display: flex;
    padding: auto 7rem;
    justify-content: center;
  }
  .icons{
    height: 40%;
    width: auto;
    margin: auto 20px;
  }
  .row{
    margin: 0;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }

  /* MAIN BODY */
  .row {
    margin-top: 250px;
  }

  #me {
    max-width: 75%;
    height: 375px;
    background-color: white;
    box-shadow: 0 4px 8px 0 #white(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    border-radius: 50%;
    margin: 0 auto;

  }

  p {
    padding-top: 50px;
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    text-shadow: 0 0 3px black;
    color: white;
  }


