html { 
  background: url(/assets/autumn-autumn-colours-brown-countryside-358238.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: whitesmoke;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: whitesmoke;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: whitesmoke;
}




footer{
  height: 120px;
  display: flex;
  width: 100%;
}
.foot-icons{ /* div */
  height: 100%;
  display: flex;
  padding: auto 7rem;
  justify-content: center;
}
.icons{
  height: 40%;
  width: auto;
  margin: auto 20px;
}
.row{
  margin: 0;
}



