html { 
  background: url(assets/tree-20-percent-OP.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

/* Nav Bar */

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: black;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: black;
}


/* footer */

footer{
  height: 120px;
  display: flex;
  width: 100%;
}
.foot-icons{ /* div */
  height: 100%;
  display: flex;
  padding: auto 7rem;
  justify-content: center;
}
.icons{
  height: 40%;
  width: auto;
  margin: auto 20px;
}
.row{
  margin: 0;
  text-align: center;
}



.row {
  margin-top: 325px;
}

.col-md-4 {
  text-align: center;
}

#phone {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
  border-radius: 50%;

}

#email {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
  border-radius: 50%;

}

#resume {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
  border-radius: 50%;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.footer-row {
  margin-top: 55rem;
  }

  b {
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    text-shadow: 0 0 3px black;
    color: white;
  }