html { 
  background: url(assets/grayscale-photo-of-tree-on-a-snow-covered-field-3593865.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Nav Bar */

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: black;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: black;
}







