html { 
    background: url(/assets/coconut-tree-under-gray-sky-1122409.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }