html { 
  background: url(assets/palm-20-percent.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:black;
  text-align: center;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: black;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: black;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

footer{
  height: 120px;
  display: flex;
  width: 100%;
}
.foot-icons{ /* div */
  height: 100%;
  display: flex;
  padding: auto 7rem;
  justify-content: center;
}
.icons{
  height: 40%;
  width: auto;
  margin: auto 20px;
}
.row{
  margin: 0;
}



/* MAIN BODY */

.row {
  margin-top: 350px;
}

.col-md-4 {
  text-align: center;
}

#dream {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  border-radius: 50%;
  margin: 0 auto;

}

#note {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  border-radius: 50%;
  margin: 0 auto;

}

#weather {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  border-radius: 50%;
  margin: 0 auto;

}

#generator {
  margin-top: 75px;
  max-width: 75%;
  height: auto;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  border-radius: 50%;
  margin: 0 auto;

}


